body{
     font-family: 'Gloria Hallelujah', cursive;
}
html{
   background-image: url(img/car2.jpg);
   background-repeat: no-repeat;
   width: 100%;
   background-size: cover;
   background-attachment: fixed;
}

h1{
  padding-left: 20px;
  font-size: 3.5em;
  color:  whitesmoke;
 
  
}
h2{
     font-size: 2em;
     color:  whitesmoke;
}

.wrapper{
    padding-left: 20px;
    color:  whitesmoke;
    font-size: 1.5em;
    display: flex;
}

.task{
    width: 350px;
}

.check{
    padding-right: 10px;
    
}

.meddelande{
    display: flex;
    text-align: center;
}

p{
    color:  whitesmoke;
    
}

input[type=text] {
   background-color: whitesmoke; 
   font-size: 1em;
   letter-spacing: 0.05em; 
}

input[type=submit] {
   background-color: whitesmoke; 
   font-family: 'Gloria Hallelujah', cursive;
   margin-bottom: 10px;

}

.completed{
 color: #D9B101;
 padding-left: 20px;
 font-family: 'Gloria Hallelujah', cursive;
 font-size: 1.5em;
 padding: 10px;
}
a{
    padding-left: 10px;
    color:#D9B101;
    font-size: 1em;
}

.addtask{
    padding-left:20px;
    font-family: 'Gloria Hallelujah', cursive;
}

.do .by{
   padding-left:2px;
}


